<!DOCTYPE html>
<head>
<title>Notes App</title>
</head>

<body>
  <form>
 
    <label for="title"><b>title</b></label>
    <input type="text" placeholder="Title for your notes" id="title-note" required>

    <label for="note"><b>Type your notes here</b></label>
    <input type="text" placeholder="Start typing" id="note" required>

    <button type="button" id='submit-note'>send</button>
    <button type="button" id='getnotes'>Get notes</button>
    <div id='data-notes'></div>

</form>


</body>
<script src='../static/js/notes.js'></script> 
</html>