<!DOCTYPE html>
<head>
<title>Notes App</title>
{{!-- <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
  

</head>

<body>
  <form>
 
    <label for="title" class='title-text'><b>Title</b></label>
    <input type="text" placeholder="Title for your notes" id="title-note" required>

  
    <input type="text" placeholder="Start typing....." id="note" required>

    <button type="button" id='submit-note'>send</button>
    <button type="button" id='getnotes'>Get notes</button>
    <div id='data-notes'></div>

<div id='notes'>

</div>

</form>

<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<script src='../static/js/notes.js' ></script> 

</body>

</html>