<!DOCTYPE html>
<head>
<title>Notes App</title>
{{!-- <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
  

</head>

<body>
  <form>
 
    <label for="title"><b>title</b></label>
    <input type="text" placeholder="Title for your notes" id="title-note" required>

    <label for="note"><b>Type your notes here</b></label>
    <input type="text" placeholder="Start typing" id="note" required>

    <button type="button" id='submit-note'>send</button>
    <button type="button" id='getnotes'>Get notes</button>
    <div id='data-notes'></div>


<div id='entry-template'>
    <p> city is {{city}}</p>
</div>
<div id='notes'>

</div>
</form>


<script src='../static/js/notes.js' ></script> 
</body>

</html>