:root {
  font-size: 16px; }
  body{
      margin: 0;
      padding: 0;
      background-image: url(../img/title-3.jpg);
      }
  .container{
      display: block;
      margin: 50px;
    
  }
  .banner .card{
      background:#2c2c2c ;
      display: block;
      box-shadow: 0px 3px 20px 2px rgb(19, 48, 143);
      border: 2px solid  rgb(19, 48, 143);
      border-radius: 10px;

  }
  .banner .card .heading{
font-size: 64px;
font-family: fantasy;
font-weight: 700;
margin-bottom: 5px;
padding-top: 50px;
padding-left: 50px;
padding-bottom: 0px;
color: rgb(255, 251, 251); 
  }
  .banner .card .subheading{  
color:  rgba(199, 199, 196, 0.959);  
font-size: 21px;
font-family: fantasy;
padding: 0px 50px 30px;

  }
  .banner .card button{
      padding: 50px;
      font-size: 20px;
      color: white;
      background: none;
      border: none;
      border-radius: 5px;
      letter-spacing: 3px;
      margin-top: 20px;
            text-transform: uppercase;
             transition: box-shadow 0.3s linear 0.1s;

  }
  .banner .card button:hover{

      cursor: pointer;
      box-shadow: 0 3px 40px 5px yellow; 
      color: yellow;
  }
  .row{
display: block;
margin-top: 30px;

  }
  .paragraph{
    font-size: 20px;
  float: left;
  color: rgb(87, 81, 81);
  width: 600px;

  }
  .paragraph:hover{
    color: white;
      font-family: fantasy;
  }